/develop-eggs
/eggs
/fake-eggs
/bin
/parts
/downloads
/var
/build
/dist
/local.cfg
*.egg-info
*.egg
/.installed.cfg
*.pyc
/.Python
/include
/lib
/.project
/.pydevproject
/.mr.developer.cfg
/src/Products.*
/src/plone.app.*
.eggs/
pip-selfcheck.json
*.mo
docs/Makefile
docs/make.bat
docs/doctrees
docs/html
/.vscode/
