[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg
extensions = mr.developer
auto-checkout = plone.app.discussion
package-name = collective.ploneboard
package-extras = [test]

eggs = Products.Ploneboard

parts += omelette
sources = sources

[test]
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[sources]
plone.app.discussion = git git@github.com:plone/plone.app.discussion.git
