[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-4.x.cfg
extensions = mr.developer
auto-checkout = plone.app.discussion
package-name = collective.ploneboard
package-extras = [test]

# eggs = Products.Ploneboard
eggs = plone.app.contenttypes

parts += 
    test
    coverage
    test-coverage
    omelette
    code-analysis
sources = sources
versions = versions

[instance]
deprecation-warnings = on
verbose-security = on

[test]
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']

[coverage]
recipe = zc.recipe.egg
eggs = coverage

[test-coverage]
recipe = collective.recipe.template
input = inline:
    #!/bin/bash
    ${buildout:directory}/bin/coverage run --source=${buildout:directory}/src/collective/ploneboard bin/test
    ${buildout:directory}/bin/coverage report -m --fail-under=90
output = ${buildout:directory}/bin/test-coverage
mode = 755

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/src

[versions]
plone.app.contenttypes = 1.1b1
plone.app.event = 1.1b1
plone.app.portlets = 2.5.1
zope.interface = 4.0.5

[sources]
plone.app.discussion = git git://github.com/plone/plone.app.discussion.git pushurl=git@github.com:plone/plone.app.discussion.git

